body{
	text-align: center;
	font-family:
}

p{
	font-size:19px;
	font-family:Times New Roman;
}

.pad{
	margin-top:20px;
}

.nopad{
    padding-left: 0px;
    padding-right: 0px;
}


.transform{
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform:rotate(180deg);
}

h1{
	font-family:Times New Roman;
}

h2{
	font-family:Times New Roman;	
}

h3{
	font-family:Times New Roman;	
}

.feature_divider1{
    width: 275px;
    height: 47px;
    border-bottom: 2px solid black;
    position: absolute;
}

.rCorners{
    border-radius: 700px;
}

.feature_divider2{
    width: 275px;
    height: 47px;
    border-bottom: 2px solid black;
    position: absolute;
}

hr { 
    margin-top:5px;
    margin-bottom:5px;
    font-weight: bold;  
    border-color: black;
    width:12%; 
    height:3px; 
}
		
.feature_divider3{
    width: 275px;
    height: 47px;
    border-bottom: 2px solid black;
    position: absolute;
}
		
.feature_divider4{
    width: 275px;
    height: 47px;
    border-bottom: 2px solid black;
    position: absolute;
}
.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.pad{
    margin-top:20px;
    margin-bottom:20px;
}

.parallax { 
    /* The image used */
    background-image: url("../img/img_HC.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
